.header{
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: auto;
}

.line-break{
    background: #000;
    height: 2px;
}

.quation-container{
    width: 85%;
    margin: auto;
}

.quation{
    margin: 5% auto;
}

.options{
    width: 93%;
    margin: auto;
}

input[type=submit]{
    padding: 12px;
    margin: 15px auto;
    display: block;
}
